.footer
  background-color: #000
  color: white
  text-align: center
  padding: 30px 40px
  width: 100vw
  position: relative
  left: 50%
  transform: translateX(-50%)

  img
    height: 50px
    max-width: 150px
    margin-bottom: 10px

  p
    margin-top: 15px
    font-size: 1.2em
    font-family: "Montserrat", sans-serif

