.header
  width: 90%
  margin: 30px auto
  display: flex
  flex-direction: row
  justify-content: space-between


nav ul 
  display: flex
  column-gap: 80px
  flex-direction: row
  list-style-type: none
  text-decoration: none

.route
  color: #000000
  font-family: "Montserrat", sans-serif
  text-decoration: none
  &:hover 
    text-decoration: underline