.header
  width: 90%
  margin: 30px auto
  display: flex
  align-items: center
  flex-direction: row
  justify-content: space-between

.kasaLogo
  height: 70px

.listRoads
  .roads
    margin-top: 30px
    display: flex
    column-gap: 70px
    flex-direction: row
    list-style-type: none
    text-decoration: none

.route
  font-size: 1.7em
  font-weight: 600
  color: #000000
  font-family: "Montserrat", sans-serif
  text-decoration: none
  &:hover 
    text-decoration: underline

.active
  text-decoration: underline

@media screen and (max-width: 768px)
  .header
    width: 95% 
    margin: 20px auto
    .kasaLogo
      height: 58px

    .listRoads 
      margin-right: 17px
      .roads
        margin-left: -120px
        column-gap: 30px

        .route 
          font-size: 1.4em
          text-transform: uppercase



@media screen and (max-width: 540px)
  .header
    width: 95%
    margin: 20px auto
    margin-right: -2px
    .kasaLogo
      height: 48px

    .listRoads 
      .roads
        column-gap: 20px

        .route 
          font-size: 1.2em

@media screen and (max-width: 424px)
  .header
    width: 95%
    .kasaLogo
      height: 38px

    .listRoads 
      .roads
        column-gap: 15px

        .route 
          font-size: 0.9em

@media screen and (max-width: 340px)
  .header
    margin: 10px auto
    .listRoads 
      .roads
        column-gap: 10px
        .route 
          font-size: 0.8em

