.logement
  width: 90%
  padding: 20px
  margin: -10px auto

.slideshow
  width: 100%
  display: flex
  img
    height: 500px
    width: 100%
    object-fit: cover
    border-radius: 25px

.listInfo
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-top: 20px

.info
  margin-top: -20px
  .title
    font-size: 2.5em
    color: #ff6f61
    font-weight: 500
    font-family: "Montserrat", sans-serif
  .country 
    font-size: 1.5em
    font-weight: 600
    margin-top: -35px
    font-family: "Montserrat", sans-serif
  .tags
    margin-top: 20px
    .tag
      display: inline-block
      background: #ff6f61
      color: white
      font-size: 1.1em
      padding: 5px 30px
      margin-right: 15px
      border-radius: 14px
      text-align: center
      font-weight: 600
      font-family: "Montserrat", sans-serif

.host
  display: flex
  margin-top: -10px
  flex-direction: column
  align-items: flex-end

  .identity 
    display: flex
    align-items: center
    justify-content: space-between
    p
      width: 60%
      font-size: 1.5em
      color: #ff6f61
      font-weight: 500
      text-align: right
      font-family: "Montserrat", sans-serif
      margin-right: -25px
    img
      width: 70px
      height: 70px
      border-radius: 50%
      object-fit: cover

  .rating
    display: flex
    column-gap: 8px
    margin-top: 10px
    text-align: right
    .fa-star
      font-size: 1.5em
      margin-right: 5px
    .filled
      color: #ff6f61
    .empty
      color: #e0e0e0

.listDescribe
  display: flex
  justify-content: space-between
  flex-direction: row
  gap: 20px

  .collapse
    width: 50%
    & > div
      display: flex
      justify-content: space-between
      align-items: center
      background: #ff6f61
      color: white
      cursor: pointer
      border-radius: 10px

      .icon
        font-size: 1.5em

    .content
      height: auto
      background: #f9f9f9
      padding: 10px 10px
      border-radius: 10px
      ul
        margin-left: -20px
        list-style-type: none
        li 
          color: black
          font-family: "Montserrat", sans-serif
        