.collapse {
  width: 80%;
  @media screen and (max-width: 650px) {
    margin-top: 15px;
    margin-right: 30px;
    width: 100%;
  }
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6f61;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease;
}

.chevron-icon {
  transition: transform 0.3s ease;

  &.open {
    transform: rotate(-180deg);
  }
}

.collapse-content {
  background: #f9f9f9;
  overflow: hidden;
  height: 0;
  margin-top: -5px;
  transition: height 0.3s ease, padding 0.3s ease;
  padding: 0 20px;
  border-radius: 0 0 10px 10px;
  font-size: 1em;
  color: #333;
  font-family: "Montserrat", sans-serif;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      padding: 5px 0;
      font-size: 1em;
      color: #333;
      font-family: "Montserrat", sans-serif;
    }
  }

  p {
    font-size: 1em;
    color: #333;
    padding: 10px 0;
    font-family: "Montserrat", sans-serif;
  }

  &.open {
    height: auto;
    padding: 15px 20px;
  }
}
